* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #7a8efa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! Player Card/Container Styling  */
.card-container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2PhVUGwS7n6SiGsguuHaqh1Usq0_IRi-Yi4XuXbFsmg&s");
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aircraft-card {
  height: 300px;
  max-width: 280px;
  min-width: 230px;
}
.aircraft-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.aircraft-logo {
  transition: transform 0.2s;
  height: 270px;
}

.aircraft-card:hover .aircraft-logo {
  transform: scale(0.95);
}
